* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-end {
  align-self: flex-end;
}

.align-center {
  align-self: center;
}